@model FilterRoomDto
@{
	ViewBag.Title = "Rooms list";
	var buildings = new SelectList(Model.Buildings, "Id", "ShortName");
	ViewBag.Buildings = buildings;
}
	<h1 class="ml-3 mb-2">List of rooms</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-3">
				<form method="post">
					<div asp-validation-summary="All" class="text-danger"></div>
					<div class="card">
						<div class="card-header">Filter</div>
						<div class="card-body">
							<p class="card-title mb-n1">
								<label asp-for="MinId"></label>
							</p>
							<div class="row">
								<div class="col mr-n2">
									<input asp-for="MinId" type="number" class="form-control" placeholder="min" />
									<span asp-validation-for="MinId" class="text-danger"></span>
								</div>
								<div class="col">
									<input asp-for="MaxId" type="number" class="form-control" placeholder="max" />
									<span asp-validation-for="MaxId" class="text-danger"></span>
								</div>
							</div>
							<p class="card-title mb-n1">
								<label asp-for="Number"></label>
							</p>
							<input asp-for="Number" class="form-control" />
							<span asp-validation-for="Number" class="text-danger"></span>

							<p class="card-title mb-n1">
								<label asp-for="Standard"></label>
							</p>
							<select asp-for="Standard"
									asp-items="Html.GetEnumSelectList<StandardEnum>()">
							</select>
							<span asp-validation-for="Standard" class="text-danger"></span>
							<p class="card-title mb-n1">
								<label asp-for="MinFloor"></label>
							</p>
							<div class="row">
								<div class="col mr-n2">
									<input asp-for="MinFloor" type="number" class="form-control" placeholder="min" />
									<span asp-validation-for="MinFloor" class="text-danger"></span>
								</div>
								<div class="col">
									<input asp-for="MaxFloor" type="number" class="form-control" placeholder="max" />
									<span asp-validation-for="MaxFloor" class="text-danger"></span>
								</div>
							</div>
							<p class="card-title mb-n1">
								<label asp-for="MinPricePerDay"></label>
							</p>
							<div class="row">
								<div class="col mr-n2">
									<input asp-for="MinPricePerDay" type="number" class="form-control" placeholder="min" />
									<span asp-validation-for="MinPricePerDay" class="text-danger"></span>
								</div>
								<div class="col">
									<input asp-for="MaxPricePerDay" type="number" class="form-control" placeholder="max" />
									<span asp-validation-for="MaxPricePerDay" class="text-danger"></span>
								</div>
							</div>
							<p class="card-title mb-n1">
								<label asp-for="Client"></label>
							</p>
							<input asp-for="Client" class="form-control" />
							<span asp-validation-for="Client" class="text-danger"></span>
							<p class="card-title mb-n1">
								<label asp-for="BuildingId"></label>
							</p>
							<select asp-for="BuildingId"
									asp-items="ViewBag.Buildings">
							</select>
							<span asp-validation-for="BuildingId" class="text-danger"></span>
							<p class="card-title mb-n1">
								<label asp-for="IsAvailable"></label>
							</p>
							<div class="form-check-inline">
								<input asp-for="IsAvailable " class="form-check-input" type="checkbox" id="inlineCheckbox1" checked>
								<span asp-validation-for="IsAvailable" class="text-danger"></span>
								<label class="form-check-label" for="inlineCheckbox1">Available</label>
							</div>
							<div class="form-check-inline">
								<input asp-for="IsNotAvailable" class="form-check-input" type="checkbox" id="inlineCheckbox2" checked>
								<span asp-validation-for="IsNotAvailable" class="text-danger"></span>
								<label class="form-check-label" for="inlineCheckbox2">Not available</label>
							</div>
							<p class="card-title mb-n1">
								<label asp-for="IsDamaged"></label>
							</p>
							<div class="form-check-inline">
								<input asp-for="IsDamaged" class="form-check-input" type="checkbox" id="inlineCheckbox1" checked>
								<span asp-validation-for="IsDamaged" class="text-danger"></span>
								<label class="form-check-label" for="inlineCheckbox1">Damaged</label>
							</div>
							<div class="form-check-inline">
								<input asp-for="IsNotDamaged" class="form-check-input" type="checkbox" id="inlineCheckbox2" checked>
								<span asp-validation-for="IsNotDamaged" class="text-danger"></span>
								<label class="form-check-label" for="inlineCheckbox2">Not damaged</label>
							</div>
							<p class="card-title mb-n1">
								<label asp-for="IsClean"></label>
							</p>
							<div class="form-check-inline">
								<input asp-for="IsClean" class="form-check-input" type="checkbox" id="inlineCheckbox1" checked>
								<span asp-validation-for="IsClean" class="text-danger"></span>
								<label class="form-check-label" for="inlineCheckbox1">Clean</label>
							</div>
							<div class="form-check-inline">
								<input asp-for="IsNotClean" class="form-check-input" type="checkbox" id="inlineCheckbox2" checked>
								<span asp-validation-for="IsNotClean" class="text-danger"></span>
								<label class="form-check-label" for="inlineCheckbox2">Not clean</label>
							</div>
							<p class="card-title mb-n1">
								<label asp-for="IsRent"></label>
							</p>
							<div class="form-check-inline">
								<input asp-for="IsRent " class="form-check-input" type="checkbox" id="inlineCheckbox1" checked>
								<span asp-validation-for="IsRent" class="text-danger"></span>
								<label class="form-check-label" for="inlineCheckbox1">Rent</label>
							</div>
							<div class="form-check-inline">
								<input asp-for="IsNotRent" class="form-check-input" type="checkbox" id="inlineCheckbox2" checked>
								<span asp-validation-for="IsNotRent" class="text-danger"></span>
								<label class="form-check-label" for="inlineCheckbox2">Not rent</label>
							</div>
							<hr />
							<div>
								<button type="submit" class="btn btn-info">Search</button>
								<a asp-controller="room" asp-action="list" class="btn btn-info">Reset filters</a>
							</div>
						</div>
				</form>
			</div>
			</div>
			<div class="col-9 mt-3">
				<table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%" style="border-top: none">
					<thead>
						<tr>
							<th class="th-sm">
								Id
							</th>
							<th class="th-sm">
								Number
							</th>
							<th class="th-sm">
								Standard
							</th>
							<th class="th-sm">
								Floor
							</th>
							<th class="th-sm">
								Price per day
							</th>
							<th class="th-sm">
								Building
							</th>
							<th class="th-sm">
								Availabile
							</th>
							<th class="th-sm">
								Damaged
							</th>
							<th class="th-sm">
								Clean
							</th>
							<th class="th-sm">
								Rent
							</th>
							<th class="th-sm">
								Actions
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var room in ViewBag.Rooms)
						{
						<tr>
							<td>@room.Id</td>
							<td>@room.Number</td>
							<td>@room.Standard</td>
							<td>@room.Floor</td>
							<td>@room.PricePerDay</td>
							<td>@room.Building.ToString()</td>
							@if (room.IsAvailable)
							{
								<td>Yes</td>
							}
							else
							{
								<td>No</td>
							}
							@if (room.IsDamaged)
							{
								<td>Yes</td>
							}
							else
							{
								<td>No</td>
							}
							@if (room.IsClean)
							{
								<td>Yes</td>
							}
							else
							{
								<td>No</td>
							}
							@if (room.IsRent)
							{
								<td>Yes</td>
							}
							else
							{
								<td>No</td>
							}
							<td>
								<form asp-controller="room" asp-action="Delete" asp-route-id="@room.Id" method="post">
									<div class="btn-group">
										<a asp-controller="room" asp-action="Show" asp-route-id="@room.Id" class="btn btn-primary">Show</a>
										<a asp-controller="room" asp-action="edit" asp-route-id="@room.Id" class="btn btn-primary">Edit</a>
										<button type="submit" class="btn btn-danger"
												onclick="return confirm('Are you sure you want to delete room @room.Number?')">
											Delete
										</button>
									</div>
								</form>
							</td>
						</tr>
						}
					</tbody>
				</table>
				<a class="btn btn-success mb-2" asp-controller="room" asp-action="Add">Add rooom</a>
			</div>
		</div>
	</div>