@model GetRoomDto
@{
	ViewBag.Title = "Show room";
}

<h1>Room details</h1>
<div class="row">
	<div class="col-md-12">
		<div class="card mb-2">
			<div class="card-header">Room info</div>
			<div class="card-body">
				<h5 class="card-title">
					<label asp-for="Number"></label>
				</h5>
				<p class="card-text">@Model.Number</p>
				<hr />
				<h5 class="card-title">
					<label asp-for="Standard"></label>
				</h5>
				<p class="card-text">@Model.Standard</p>
				<hr />
				<h5 class="card-title">
					<label asp-for="Floor"></label>
				</h5>
				<p class="card-text">@Model.Floor</p>
				<hr />
				<h5 class="card-title">
					<label asp-for="PricePerDay"></label>
				</h5>
				<p class="card-text">@Model.PricePerDay</p>
				<hr />
				<h5 class="card-title">
					<label asp-for="Building"></label>
				</h5>
				<p class="card-text">@Model.Building.ShortName</p>
				<span asp-validation-for="Building" class="text-danger"></span>
				<hr />

				<div class="form-check-inline mt-3">
					@if (ViewBag.Room.IsAvailable)
					{
						<input asp-for="IsAvailable " disabled="disabled" class="form-check-input" type="checkbox" checked="checked" />
					}
					else
					{
						<input asp-for="IsAvailable " disabled="disabled" class="form-check-input" type="checkbox" />
					}
					<span asp-validation-for="IsAvailable" class="text-danger"></span>
					<label class="form-check-label" asp-for="IsAvailable"></label>
				</div>
				<div class="form-check-inline mt-3">
					@if (ViewBag.Room.IsDamaged)
					{
						<input asp-for="IsDamaged " disabled="disabled" class="form-check-input" type="checkbox" checked="checked" />
					}
					else
					{
						<input asp-for="IsDamaged " disabled="disabled" class="form-check-input" type="checkbox" />
					}
					<span asp-validation-for="IsDamaged" class="text-danger"></span>
					<label class="form-check-label" asp-for="IsDamaged"></label>
				</div>
				<div class="form-check-inline mt-3">
					@if (ViewBag.Room.IsClean)
					{
						<input asp-for="IsClean " disabled="disabled" class="form-check-input" type="checkbox" checked="checked" />
					}
					else
					{
						<input asp-for="IsClean " disabled="disabled" class="form-check-input" type="checkbox" />
					}
					<span asp-validation-for="IsClean" class="text-danger"></span>
					<label class="form-check-label" asp-for="IsClean"></label>
				</div>
				<div class="form-check-inline mt-3">
					@if (ViewBag.Room.IsRent)
					{
						<input asp-for="IsRent " disabled="disabled" class="form-check-input" type="checkbox" checked="checked" />
					}
					else
					{
						<input asp-for="IsRent " disabled="disabled" class="form-check-input" type="checkbox" />
					}
					<span asp-validation-for="IsRent" class="text-danger"></span>
					<label class="form-check-label" asp-for="IsRent"></label>
				</div>
			</div>
		</div>
		<a asp-controller="room" asp-action="list" class="btn btn-info">Return to list</a>
		<a asp-controller="room" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
	</div>
	
</div>